<section id="board">
    <div id="container-board" class="grid-container">
        <div>&nbsp;</div>
        <div class="grid-x grid-padding-x">
            <div class="large-12 cell ">
                <div class="card">
                    <div class="card-section">
                        Documentation for the Philadelphia Commissioners new <a href="{{root}}assets/pdf/7.9.19_Philadelphia_PollPadGuide.pdf" target="_blank">Polling Pads</a> and <a href="{{root}}assets/pdf/EVS_6.0.2.1_EVXL_PW_v1.1.PHI.pdf" target="_blank">Voting Machines</a> is now available!</div>
                </div>
            </div>
        </div>
        <div class="grid-x grid-padding-x small-up-1 medium-up-2">
            <div class="cell">
                <div class="card">
                    <div class="card-section">
                        <h5>Polling Pads:</h5>
                        <p>Our super-amazing polling pads replace paper non-super-amazing polling pads. You are seriously going to lose your mind.</p>
                    </div>
                    <div class="card-section">
                        <div class="callout primary">
                            <a href="{{root}}assets/pdf/7.9.19_Philadelphia_PollPadGuide.pdf" target="_blank"><img src="{{root}}assets/img/pollpad.svg" /></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cell">
                <div class="card">
                    <div class="card-section">
                        <h5>Voting System:</h5>
                        <p>Our super-amazing voting system replaces our non-super-amazing voting system. You are seriously going to lose your mind.</p>
                    </div>
                    <div class="card-section">
                        <div class="callout primary">
                            <a href="{{root}}assets/pdf/EVS_6.0.2.1_EVXL_PW_v1.1.PHI.pdf" target="_blank"><img src="{{root}}assets/img/voting_system.svg" /></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>