<section id="board">
    <div id="container-board" class="grid-container">
        <div class="grid-x grid-padding-x">
            <div class="large-12 cell ">
                <div class="card">
                    <div class="card-section">
                        <h5>Attention Election Board Workers</h5>
                        <p>Documentation PDFs for the Philadelphia City Commissioners&apos; new <a href="{{root}}assets/pdf/7.9.19_Philadelphia_PollPadGuide.pdf" target="_blank">Poll Pads</a> and <a href="{{root}}assets/pdf/EVS_6.0.2.1_EVXL_PW_v1.1.PHI.pdf" target="_blank">Voting System</a> are now available!</p></div>
                </div>
            </div>
        </div>
        <div class="grid-x grid-padding-x small-up-1 medium-up-2">
            <div class="cell">
                <div class="card">
                    <div class="card-section bullets">
                        <h5>Poll Pads:</h5>
                        <p>The Poll Pad&reg; by KnowInk will replace the old paper poll books. Manual topics broadly cover:</p>
                        <ul>
                            <li>Poll worker check-in</li>
                            <li>Opening Procedures</li>
                            <li>Processing Voters</li>
                            <li>Closing Procedures</li>
                        </ul>
                    </div>
                    <div class="card-section">
                        <div class="callout primary">
                            <a href="{{root}}assets/pdf/7.9.19_Philadelphia_PollPadGuide.pdf" target="_blank"><img title="Download Polling Pad Documentation"  src="{{root}}assets/img/pollpad.svg" /></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cell">
                <div class="card">
                    <div class="card-section bullets">
                        <h5>Voting System:</h5>
                        <p>The ExpressVote XL Ballot Marking Device by ES&amp;S will replace the old DRE voting machines. Manual topics broadly cover:</p>
                        <ul>
                            <li>Understanding the ExpressVote XL</li>
                            <li>Opening the polls</li>
                            <li>Voting Procedures</li>
                            <li>Closing the polls</li>
                            <li>Troubleshooting</li>
                        </ul>
                    </div>
                    <div class="card-section">
                        <div class="callout primary">
                            <a href="{{root}}assets/pdf/EVS_6.0.2.1_EVXL_PW_v1.1.PHI.pdf" target="_blank"><img title="Download Voting System Documentation" src="{{root}}assets/img/voting_system.svg" /></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>