<section id="board">
    <div id="container-board" class="grid-container">
        <div class="video-en">
            <div class="responsive-embed widescreen">
                <video id="inline-video-pp" poster="assets/img/pollworker_preview.png" controls >
                    <source src="https://files.philadelphiavotes.com/election-workers/video/Poll_Worker_Video.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                </video>
            </div>
        </div>
        <div class="grid-x grid-padding-x">
            <div class="large-12 cell ">
                <div class="card">
                    <div class="card-section">
                        <h5>Attention Election Board Workers</h5>
                        <p>The <a href="https://files7.philadelphiavotes.com/election-workers/Election_Board_Training_Guide_2019.pdf" target="_blank">Election Board Worker Training Guide</a> for the 2019 General and Special Election is now available!</p></div>
                </div>
            </div>
        </div>
        <div class="grid-x grid-padding-x">
            <div class="large-4 cell">
                <div class="card">
                    <div class="card-section">
                        <div class="callout">
                            <a href="https://files7.philadelphiavotes.com/election-workers/Election_Board_Training_Guide_2019.pdf" target="_blank"><img title="Download Election Board Training Guide" src="{{root}}assets/img/training_guide.svg" /></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="large-8 cell">
                <div class="card">
                    <div class="card-section bullets">
                        <p>Topics include</p>
                        <ul>
                            <li>Election Day Checklist</li>
                            <li>Important Phone Numbers </li>
                            <li>Election Board Job Descriptions and Procedures</li>
                            <li>Preparing for Election Day</li>
                            <li>Opening the Polling Place</li>
                            <li>Voting Procedures</li>
                            <li>Challenges to In-Person Votes on Election Day</li>
                            <li>Illegal or Inappropriate Behavior on Election Day</li>
                            <li>Voting Assistance</li>
                            <li>Authorized and Unauthorized Polling Place Inspectors and Visitors</li>
                            <li>Voting System</li>
                            <li>AFTER Closing the Polls</li>
                            <li>Seals</li>
                            <li>Voting Machine Troubleshooting</li>
                            <li>Where to Pick Up Your Election Materials</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>