<section id="board">
    <div id="container-board" class="grid-container">
        <div class="grid-x grid-padding-x">
            <div class="large-12 cell ">
                <div class="card">
                    <div class="card-section">
                        <h5>Attention Election Board Workers</h5>
                        <p>Documentation PDFs for the Philadelphia City Commissioners&apos; new <a href="{{root}}assets/pdf/7.9.19_Philadelphia_PollPadGuide.pdf" target="_blank">Poll Pads</a> and <a href="{{root}}assets/pdf/EVS_6.0.2.1_EVXL_PW_v1.1.PHI.pdf" target="_blank">Voting System</a> are now available!</p></div>
                </div>
            </div>
        </div>
        <div class="grid-x grid-padding-x small-up-1 medium-up-2">
            <div class="cell">
                <div class="card">
                    <div class="card-section">
                        <h5>Poll Pads:</h5>
                        <p>The Poll Pad&reg; by KnowInk has replaced the outdated and inefficient paper model that is often the cause of long lines at the polls and inefficient election record keeping. Touch screens &amp; on-device search bring ease of use. Manual topics broadly cover:</p>
                        <ul>
                            <li>Opening Procedures</li>
                            <li>Processing Voters</li>
                            <li>Closing Procedures</li>
                        </ul>
                    </div>
                    <div class="card-section">
                        <div class="callout primary">
                            <a href="{{root}}assets/pdf/7.9.19_Philadelphia_PollPadGuide.pdf" target="_blank"><img title="Download Polling Pad Documentation"  src="{{root}}assets/img/pollpad.svg" /></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cell">
                <div class="card">
                    <div class="card-section">
                        <h5>Voting System:</h5>
                        <p>The ExpressVote XL&trade; Universal Voting System by ES&amp;S is a full-face, 32&quot; touch screen ballot. It captures a voter&apos;s choices by marking a paper ballot while also tabulating the vote data for later collection and reporting. Manual topics broadly cover:</p>
                        <ul>
                            <li>Understanding the ExpressVote XL</li>
                            <li>Usage</li>
                            <li>Troubleshooting</li>
                        </ul>
                    </div>
                    <div class="card-section">
                        <div class="callout primary">
                            <a href="{{root}}assets/pdf/EVS_6.0.2.1_EVXL_PW_v1.1.PHI.pdf" target="_blank"><img title="Download Voting System Documentation" src="{{root}}assets/img/voting_system.svg" /></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>