      <section id="faq">
          <div id="container-faq" class="grid-container ">
              <div>&nbsp;</div>
              <div class="grid-x grid-padding-x">
                  <div class="cell large-12 medium-12 small-12">
                      <ul class="accordion" data-accordion data-allow-all-closed="true">
                          <li class="accordion-item" data-accordion-item>
                              <a href="#" class="accordion-title"><b>Why is the voting system changing?</b></a>
                              <div class="accordion-content" data-tab-content>The Department of State, in conjunction with Governor Wolf, is requiring all of Pennsylvania’s counties to replace their current voting systems with new systems that have a voter-verifiable paper ballot. Philadelphia must have a new system in place in time for the Primary Election.</div>
                          </li>
                          <li class="accordion-item" data-accordion-item>
                              <a href="#" class="accordion-title"><b><b>Will I still be able to use the Danaher machines at my polling place?</b></b></a>
                              <div class="accordion-content" data-tab-content>No, all Philadelphia voters will use the ExpressVote XL voting system in the November General Election.</div>
                          </li>
                          <li class="accordion-item" data-accordion-item>
                              <a href="#" class="accordion-title"><b>What voting system was selected by the City of Philadelphia?</b></a>
                              <div class="accordion-content" data-tab-content>The City of Philadelphia selected the ExpressVote XL voting system made by Election Systems & Software, LLC. (ES&S).</div>
                          </li>
                          <li class="accordion-item" data-accordion-item>
                              <a href="#" class="accordion-title"><b>How did the City select the ExpressVote XL and the Poll Pad?</b></a>
                              <div class="accordion-content" data-tab-content>The City followed the Best Value procurement procedures to review and select the ExpressVote XL and the Poll Pad for use by Philadelphia voters in the November General Election.</div>
                          </li>
                          <li class="accordion-item" data-accordion-item>
                              <a href="#" class="accordion-title"><b>How do I use the ExpressVote XL?</b></a>
                              <div class="accordion-content" data-tab-content> The ExpressVote XL allows voters to safely and securely mark their selections on a touch screen or with an assistive device, and will produce a voter-verifiable paper ballot, providing an auditable paper trail.</div>
                          </li>
                          <li class="accordion-item" data-accordion-item>
                              <a href="#" class="accordion-title"><b>If I am a voter with disabilities, will I use the ExpressVote XL?</b></a>
                              <div class="accordion-content" data-tab-content> Yes, the new voting system provides all registered voters the ability to cast their vote in the same manner by using assistive devices such as an accessible keypad with braille and the ability to use rocker panel. The voting system allows voters with disabilities to make selections, verify their ballot, and cast their votes at the same device used by all voters.</div>
                          </li>
                          <li class="accordion-item" data-accordion-item>
                              <a href="#" class="accordion-title"><b>If I have a disability, can I bring assistive devices to the polling place for use with the new voting system?</b></a>
                              <div class="accordion-content" data-tab-content> Yes. Although the City provides headphones for use with the ExpressVote XL, voters are also welcome to bring their own headphones, sip and puff, or other devices. Voters using the headphones may choose to turn the touchscreen off.</div>
                          </li>
                          <li class="accordion-item" data-accordion-item>
                              <a href="#" class="accordion-title"><b>What if I make a mistake while marking my ballot?</b></a>
                              <div class="accordion-content" data-tab-content>Voters will have multiple opportunities to review their selections, both before and after a paper ballot has been printed, prior to officially casting their vote.</div>
                          </li>
                          <li class="accordion-item" data-accordion-item>
                              <a href="#" class="accordion-title"><b>How do I know my vote has been counted accurately?</b></a>
                              <div class="accordion-content" data-tab-content>Before casting your vote, you will have the opportunity to review your paper ballot to ensure that it accurately reflects your selections. Once your vote is cast, the ExpressVote XL scans your selections. Because the ExpressVote XL produces a paper ballot, Philadelphia will be able to conduct enhanced post-election audits and recounts if needed.</div>
                          </li>
                          <li class="accordion-item" data-accordion-item>
                              <a href="#" class="accordion-title"><b>How do I know the system is secure and no one can tamper with it?</b></a>
                              <div class="accordion-content" data-tab-content>The system has been certified by both the Federal Elections Assistance Commission (EAC) and the Pennsylvania Department of State. As part of the state certification, the system was sent to an independent security consultant for security and penetration testing. Tests were done to ensure that election results, media used, reports, and audit logs were protected from attempts to decrypt, manipulate, or corrupt election data.. Furthermore, the hardware, election media, and ballots are secured with lock and key and security seals.</div>
                          </li>
                          <li class="accordion-item" data-accordion-item>
                              <a href="#" class="accordion-title"><b>Is information about me, such as my name, captured on the ballot?</b></a>
                              <div class="accordion-content" data-tab-content>No, the ballot does not capture personal information such as one’s name. The only information captured on the ballot is the precinct, ballot style, and votes cast.</div>
                          </li>
                          <li class="accordion-item" data-accordion-item>
                              <a href="#" class="accordion-title"><b>Is my vote private?</b></a>
                              <div class="accordion-content" data-tab-content>Yes. During your voting session, a privacy curtain surrounds the voter and the ExpressVote XL, shielding the touchscreen and your selections from view. Also, the marked ballot does not capture personal information such as one’s name. The only information captured on the ballot is the precinct, ballot style, and selections made by the voter.</div>
                          </li>
                          <li class="accordion-item" data-accordion-item>
                              <a href="#" class="accordion-title"><b>What should I do if I have difficulty using the new voting system?</b></a>
                              <div class="accordion-content" data-tab-content>Outreach to communities across the City will help voters become familiar with the new voting system and vote successfully in the November General Election. If you do have difficulty using the new voting system, the members of your Election Board will be trained to help you. Trained staffers will be available on Election Day to answer questions about using the new voting system and can be reached at 215-686-1590.</div>
                          </li>
                          <li class="accordion-item" data-accordion-item>
                              <a href="#" class="accordion-title"><b>Will I still be able to vote in Spanish?</b></a>
                              <div class="accordion-content" data-tab-content>Yes, the ExpressVote XL will allow voters to independently vote in Spanish.</div>
                          </li>
                          <li class="accordion-item" data-accordion-item>
                              <a href="#" class="accordion-title"><b>When can I vote using the new voting system?</b></a>
                              <div class="accordion-content" data-tab-content>All voters will use the ExpressVote XL voting system in the November General Election.</div>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
      </section>