        <section id="info">
            <div id="container-info" class="grid-container visible">
                <div class="grid-x grid-columns-y">
                    <div class="large-12 cell">
                        <h4>Information:</h4>
                    </div>
                </div>
                <div class="grid-x grid-columns-y">
                    <div class="large-3 medium-6 cell ">
                        <div class="grid-x grid-padding-x">
                            <div class="large-12 cell">
                                <div class="primary callout">
                                    <img src="assets/img/machine_trans.png" />
                                    <h5>Arriving November 2019</h5>
                                </div>
                            </div>
                            <div class="large-12 cell">
                                <div class="primary callout">
                                    <h5>If I am a voter with disabilities, will I use the new voting system?</h5>
                                    <p>Yes, the new voting system provides all registered voters the ability to cast their vote in the same manner. The voting system allows voters with disabilities to make selections, verify their ballot, and cast their votes at the same device used by all voters. The City provides headphones and voters are also welcome to bring their own headphones, sip and puff, or other devices.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="large-3 medium-6 cell ">
                        <div class="grid-x grid-padding-x">
                            <div class="large-12 cell">
                                <div class="primary callout">
                                    <h5>Is my vote private?</h5>
                                    <p>Yes. During your voting session, a privacy curtain surrounds the voter, shielding the touchscreen and your selections from view. Voters using the headphones may choose to turn the touchscreen off. Also, the marked ballot does not capture personal information such as one’s name. The only information captured on the ballot is the precinct, ballot style, and selections made by the voter.</p>
                                </div>
                            </div>
                            <div class="large-12 cell">
                                <div class="primary callout">
                                    <h5>How do I know my vote has been counted accurately?</h5>
                                    <p>Before casting your vote, you will have the opportunity to review your paper ballot to ensure that it accurately reflects your selections. Once your vote is cast, the system scans your selections. Because it produces a paper ballot, the system meets requirements for the state’s new, enhanced post-election audits of voting.</p>
                                </div>
                            </div>
                            <div class="large-12 cell">
                                <div class="primary callout">
                                    <h5>Will I still be able to vote in Spanish?</h5>
                                    <p>Yes, the new voting system will allow voters to independently vote in Spanish.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="large-3 medium-6 cell ">
                        <div class="grid-x grid-padding-x">
                            <div class="large-12 cell">
                                <div class="primary callout">
                                    <h5>How do I know the system is secure and no one can tamper with it?</h5>
                                    <p>The system has been certified by both the Federal Elections Assistance Commission (EAC) and the Pennsylvania Department of State. As part of the state certification, the system was sent to an independent security consultant for security and penetration testing. Tests were done to ensure that election results, media used, reports, and audit logs were protected from attempts to decrypt, manipulate, or corrupt election data. Furthermore, the hardware, election media, and ballots are secured with lock and key and security seals.</p>
                                </div>
                            </div>
                            <div class="large-12 cell">
                                <div class="primary callout">
                                    <h5>Why is the voting system changing?</h5>
                                    <p>The Department of State, in conjunction with Governor Wolf, is requiring all 67 of Pennsylvania’s counties to replace their current voting systems with new systems that have a voter-verifiable paper ballot. Philadelphia must have a new system in place in time for the 2020 Primary Election.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="large-3 medium-6 cell ">
                        <div class="grid-x grid-padding-x">
                            <div class="large-12 cell">
                                <div class="primary callout">
                                    <h5>Will there be a paper ballot?</h5>
                                    <p>The plain English on the new voting system’s voterverifiable paper ballot will be the official vote record for all votes cast, starting in the November 2019 General Election. This will allow for recounts and enhanced postelection audits.</p>
                                </div>
                            </div>
                            <div class="large-12 cell">
                                <div class="primary callout">
                                    <h5>What should I do if I have difficulty using the new voting system?</h5>
                                    <p>Outreach to communities across the City will help voters become familiar with the new voting system and vote successfully in the November 2019 General Election. If you do have difficulty using the new voting system, the members of your Election Board will be trained to help you. Trained staffers will be available on Election Day to answer questions about using the new voting system and can be reached at 215-686-1590.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>