        <section id="info" >
            <div id="container-info" class="grid-container visible">
                <div class="grid-x grid-columns-y">
                    <div class="large-12 cell">
                        <h4>Information:</h4>
                    </div>
                </div>
                <div class="grid-x grid-padding-x">
                    <div class="large-12 cell ">
                        <div class="grid-x grid-padding-x">
                            <div class="large-6 medium-6 small-12 cell stretch">
                                <div class="primary callout">
                                    <h5>32&quot; Full-Faced Voting Surface</h5>
                                    <p>All candidates will be displayed on one screen, text can be enlarged, contrast can be changed, and voters catoggle between available languages</p>
                                </div>
                                <div class="primary callout">
                                    <h5>Easily Transported</h5>
                                    <p>Large, heavy-duty, lockable wheels make for smooth steering and stability</p>
                                </div>
                            </div>
                            <div class="large-6 medium-6 small-12 cell stretch">
                                <div class="primary callout">
                                    <h5>Privacy Curtain</h5>
                                    <p>Voters will still have the privacy to cast their ballots behind a curtain</p>
                                </div>
                                <div class="primary callout">
                                    <h5>Battery Backup Power</h5>
                                    <p>Can continue to operating seamlessly in the event of power loss</p>
                                </div>
                                <div class="primary callout">
                                    <h5>Secure Ballot Container</h5>
                                    <p>Voted paper ballots are stored behind locks and security seals</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid-x grid-padding-x">
                    <div class="large-12 cell ">
                        <div class="primary callout ">
                            <h5>Fully ADA-Compliant</h5>
                            <p>Accommodates the full range of human diversity, including physical, perceptual and cognitive abilities. Screen is adjustable for both standing and seated voters. An accessible keypad equipped with braille and the ability to use rocker panel and Sip-and-Puff devices allows voters witdisabilities to make selections, to verify their ballot, and cast their votes at the same machines used by all voters.</p>
                        </div>
                    </div>
                </div>
                <div class="grid-x grid-padding-x">
                    <div class="large-12 cell">
                        <div class="primary callout">
                            <h5>Security</h5>
                            <p>The system has been certified by both the Federal EAC and the Pennsylvania Department of State. As part of the state certification, the system was sent to an independent security consultant for security and penetration testing. Tests were done to ensure that election results, media used, reports, and audit logs were protected from attempts to decrypt, manipulate, or corrupt election data. The system also meets requirements written by the Office of Innovation and Technology security experts. The hardware, election media, and ballots are secured with lock and key and security seals.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>