<section id="info">
    <div id="container-info" class="grid-container visible">
        <div>&nbsp;</div>
        <div class="grid-x grid-padding-x">
            <div class="large-8 medium 12 large-offset-2">
                <div class="primary callout">
                    <img src="assets/img/one-pager.png" />
                </div>
            </div>
        </div>
        <div class="reveal large" id="info-modal" data-reveal>
            <!--             <div class="video-en">
                <div class="right"><span class="label secondary ver-en-espanol-modal">ver en Español</span></div>
                <div class="responsive-embed widescreen">
                    <video id="modal-video-en" class='video-js' controls autoplay='autoplay' preload='auto' poster='MY_VIDEO_POSTER.jpg' data-setup='{}'>
                        <source src='assets/mp4/Election_System_3_en.mp4' type='video/mp4'>
                        <p class='vjs-no-js'>
                            To view this video please enable JavaScript, and consider upgrading to a web browser that
                            <a href='https://videojs.com/html5-video-support/' target='_blank'>supports HTML5 video</a>
                        </p>
                    </video>
                </div>
            </div> -->
            <div class="video-en">
                <div class="right"><span class="label secondary ver-en-espanol-modal">ver en Español</span></div>
                <button class="close-button" data-close aria-label="Close modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="responsive-embed widescreen">
                    <iframe id="modal-video-en-" width="560" height="315" src="https://www.youtube.com/embed/E29UcZJ661Y" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <div class="video-es">
                <div class="right"><span class="label secondary see-english-modal">view in English</span></div>
                <button class="close-button" data-close aria-label="Close modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="responsive-embed widescreen">
                    <iframe id="modal-video-es-"width="560" height="315" src="https://www.youtube.com/embed/CpwEhSOmPEk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</section>