<section id="info">
    <div id="container-info" class="grid-container visible">
        <div>&nbsp;</div>
        <div class="grid-x grid-padding-x">
            <div class="large-8 medium 12 large-offset-2">
                <div class="primary callout">
                    <img src="assets/img/one-pager.png" />
                </div>
            </div>
        </div>
        <div class="reveal large" id="info-modal" data-reveal>
            <div class="video-en">
                <div><span class="label secondary ver-en-espanol-modal">ver en Español</span></div>
                <button class="close-button" data-close aria-label="Close modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="responsive-embed widescreen">
                    <video id="modal-video-en" poster="assets/img/preview_en.png" controls>
                        <source src="assets/mp4/Election_System_3_en.mp4" type="video/mp4">
                            Your browser does not support the video tag.
                    </video>
                </div>
            </div>
            <div class="video-es">
                <div><span class="label secondary see-english-modal">view in English</span></div>
                <button class="close-button" data-close aria-label="Close modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="responsive-embed widescreen">
                    <video id="modal-video-es" poster="assets/img/preview_es.png" controls>
                        <source src="assets/mp4/Election_System_3_es.mp4" type="video/mp4">
                            Your browser does not support the video tag.
                    </video>
                </div>
            </div>
        </div>
    </div>
</section>