<section id="info">
    <div id="container-info" class="grid-container visible">
        <div>&nbsp;</div>
        <div class="grid-x grid-padding-x">
            <div class="large-5 cell ">
                <div class="primary callout">
                    <img src="assets/img/machine_trans.png" />
                </div>
            </div>
            <div class="large-7 cell ">
                <div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit>
                    <div class="orbit-wrapper">
                        <div class="orbit-controls">
                            <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
                            <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
                        </div>
                        <ul class="orbit-container">
                            <li class="is-active orbit-slide">
                                <figure class="orbit-figure">
                                    <div class="primary callout eighty-tall">
                                        <h5>32&quot; Full-Faced Voting Surface</h5>
                                        <p>All candidates will be displayed on one screen, text can be enlarged, contrast can be changed, and voters catoggle between available languages</p>
                                        <br>
                                        <br>
                                        <br>
                                    </div>
                                    <figcaption class="orbit-caption">32&quot; Full-Faced Voting Surface</figcaption>
                                </figure>
                            </li>
                            <li class="orbit-slide">
                                <figure class="orbit-figure">
                                    <div class="primary callout eighty-tall">
                                        <h5>Easily Transported</h5>
                                        <p>Large, heavy-duty, lockable wheels make for smooth steering and stability</p>
                                        <br>
                                        <br>
                                        <br>
                                    </div>
                                    <figcaption class="orbit-caption">Easily Transported</figcaption>
                                </figure>
                            </li>
                            <li class="orbit-slide">
                                <figure class="orbit-figure">
                                    <div class="primary callout eighty-tall">
                                        <h5>Fully ADA-Compliant</h5>
                                        <p>Accommodates the full range of human diversity, including physical, perceptual and cognitive abilities. Screen is adjustable for both standing and seated voters. An accessible keypad equipped with braille and the ability to use rocker panel and Sip-and-Puff devices allows voters witdisabilities to make selections, to verify their ballot, and cast their votes at the same machines used by all voters.</p>
                                    </div>
                                    <figcaption class="orbit-caption">Fully ADA-Compliant</figcaption>
                                </figure>
                            </li>
                            <li class="orbit-slide">
                                <figure class="orbit-figure">
                                    <div class="primary callout eighty-tall">
                                        <h5>Battery Backup Power</h5>
                                        <p>Can continue to operating seamlessly in the event of power loss</p>
                                    </div>
                                    <figcaption class="orbit-caption">Battery Backup Power</figcaption>
                                </figure>
                            </li>
                            <li class="orbit-slide">
                                <figure class="orbit-figure">
                                    <div class="primary callout eighty-tall">
                                        <h5>Privacy Curtain</h5>
                                        <p>Voters will still have the privacy to cast their ballots behind a curtain</p>
                                    </div>
                                    <figcaption class="orbit-caption">Privacy Curtain</figcaption>
                                </figure>
                            </li>
                            <li class="orbit-slide">
                                <figure class="orbit-figure">
                                    <div class="primary callout eighty-tall">
                                        <h5>Security</h5>
                                        <p>The system has been certified by both the Federal EAC and the Pennsylvania Department of State. As part of the state certification, the system was sent to an independent security consultant for security and penetration testing. Tests were done to ensure that election results, media used, reports, and audit logs were protected from attempts to decrypt, manipulate, or corrupt election data. The system also meets requirements written by the Office of Innovation and Technology security experts. The hardware, election media, and ballots are secured with lock and key and security seals.</p>
                                    </div>
                                    <figcaption class="orbit-caption">Security</figcaption>
                                </figure>
                            </li>
                            <li class="orbit-slide">
                                <figure class="orbit-figure">
                                    <div class="primary callout eighty-tall">
                                        <h5>Secure Ballot Container</h5>
                                        <p>Voted paper ballots are stored behind locks and security seals</p>
                                    </div>
                                    <figcaption class="orbit-caption">Security</figcaption>
                                </figure>
                            </li>
                        </ul>
                    </div>
                    <nav class="orbit-bullets">
                        <button class="is-active" data-slide="0"><span class="show-for-sr">First slide details.</span><span class="show-for-sr">Current Slide</span></button>
                        <button data-slide="1"><span class="show-for-sr">Second slide details.</span></button>
                        <button data-slide="2"><span class="show-for-sr">Third slide details.</span></button>
                        <button data-slide="3"><span class="show-for-sr">Fourth slide details.</span></button>
                        <button data-slide="4"><span class="show-for-sr">Fifth slide details.</span></button>
                        <button data-slide="5"><span class="show-for-sr">Sixth slide details.</span></button>
                        <button data-slide="6"><span class="show-for-sr">Seventh slide details.</span></button>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>