<section id="info">
    <div id="container-info" class="grid-container visible">
        <div>&nbsp;</div>
        <div class="grid-x grid-padding-x">
            <div class="large-8 medium 12 large-offset-2">
                <div class="image-en">
                    <div class="primary callout">
                        <img id="one-pager" src="assets/img/one-pager.png" />
                    </div>
                </div>
                <div class="image-es">
                    <div class="primary callout">
                        <img id="one-pager" src="assets/img/one-pager-es.png" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>