<section id="info">
    <div id="container-info" class="grid-container visible">
        <div>&nbsp;</div>
        <div class="grid-x grid-padding-x">
            <div class="large-12 cell ">
                <div class="off-canvas position-left" id="offCanvas" data-off-canvas>
                    <!-- Close button -->
                    <button class="close-button" aria-label="Close menu" type="button" data-close>
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <!-- Menu -->
                    <ul class="vertical menu">
                        <li><a href="#">Screen</a></li>
                        <li><a href="#">Privacy</a></li>
                        <li><a href="#">ADA Compliance</a></li>
                        <li><a href="#">Security</a></li>
                        <li><a href="#">Power/Mobility</a></li>
                    </ul>
                </div>
                <div class="off-canvas-content" data-off-canvas-content>
                  
                </div>
            </div>
        </div>
</section>