<section id="demos">
    <div>&nbsp;</div>
    <div id="container-demos" class="grid-container">
        <div class="grid-x grid-padding-x small-up-1 medium-up-2">
            <div class="cell">
                <div class="card">
                    <div class="card-section">
                        <div class="map" id="map_future"></div>
                    </div>
                </div>
            </div>
            <div class="cell">
                <div class="card">
                    <div class="card-section">
                        <div class="map" id="map_past"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid-x grid-padding-x">
            <div class="large-12 cell ">
                <div class="card">
                    <div class="card-section">
                        The Philadelphia City Commissioners will be demoing the New Voting System in locations throughout the city during the Summer and Fall. Interested in hosting a demo? Signup <a href="https://files7.philadelphiavotes.com/forms/Demo_Sign_up_form_-_Final.pdf" target="_blank">here</a>.</div>
                </div>
            </div>
        </div>
    </div>
</section>