<!-- <div data-sticky-container> -->
<div class="top-bar" id="top-menu">
    <div class="top-bar-left">
        <a href="index.html"><img class="logo" src="{{root}}assets/img/logo.svg" /></a>
    </div>
    <div class="top-bar-right">
        <ul id="menu-right" class="menu align-right" data-magellan>
            <li id="menu-item-info" class="menu-item"><a href="#">Info</a></li>
            <li id="menu-item-usage" class="menu-item"><a href="#">Usage</a></li>
            <li id="menu-item-demos" class="menu-item"><a href="#">Demos</a></li>
            <li id="menu-item-faq" class="menu-item"><a href="#">FAQ</a></li>
        </ul>
        <!--         <ul id="menu-right" class="menu align-right">
            <li id="menu-item-info" class="menu-item"><a href="index.html">Info</a></li>
            <li id="menu-item-info" class="menu-usage"><a href="index.html">Usage</a></li>
            <li id="menu-item-demos" class="menu-item"><a href="map.html">Demos</a></li>
            <li id="menu-item-faq" class="menu-item"><a href="faq.html">FAQ</a></li>
        </ul>
 -->
    </div>
</div>
<!-- </div>
 -->