        <div class="top-bar" data-responsive-toggle="top-menu" data-hide-for="large">
            <button class="menu-icon dark" type="button" data-toggle></button>
            <div class="title-bar-title">Philadelphia's New Voting System</div>
        </div>
        <div data-animate class="top-bar slide-in-down slide-out-up" id="top-menu">
            <div class="top-bar-left show-for-medium">
                <a href="index.html"><img class="logo" src="{{root}}assets/img/logo.svg" /></a>
            </div>
            <div class="title-bar-title show-for-large ">Philadelphia's New Voting System:</div>
            <div class="top-bar-right">
                <nav >
                    <ul id="menu-right" data-tabs class="tabs align-right" >
                        <li id="tab-item-info" class="tabs-title is-active"><a href="#info">Info</a></li>
                        <li id="tab-item-usage" class="tabs-title"><a href="#usage">Usage</a></li>
                        <li id="tab-item-demos" class="tabs-title"><a href="#demos">Demos</a></li>
                        <li id="tab-item-faq" class="tabs-title"><a href="#faq">FAQ</a></li>
                    </ul>
                </nav>
            </div>
        </div>