<div class="top-bar" data-responsive-toggle="top-menu" data-hide-for="large">
    <button class="menu-icon dark" type="button" data-toggle></button>
    <div class="title-bar-title">Philadelphia's New Voting System</div>
</div>
<div data-animate class="top-bar slide-in-down slide-out-up" id="top-menu">
    <div class="top-bar-right">
        <ul id="menu-right" class="menu vertical align-right">
            <li id="menu-item-info" class="menu-item"><a href="#">Info</a></li>
            <li id="menu-item-usage" class="menu-item"><a href="#">Usage</a></li>
            <li id="menu-item-demos" class="menu-item"><a href="#">Demos</a></li>
            <li id="menu-item-faq" class="menu-item"><a href="#">FAQ</a></li>
            <li id="menu-item-eboard" class="menu-item"><a href="#">E-Board</a></li>
        </ul>
    </div>
</div>
<div data-animate class="top-bar slide-in-down slide-out-up">
    <div class="top-bar-left show-for-medium">
        <a href="index.html"><img class="logo" src="{{root}}assets/img/logo.svg" /></a>
    </div>
    <div class="title-bar-title show-for-large ">Philadelphia's New Voting System:&nbsp;&nbsp;</div>
    <div class="top-bar-right">
        <ul id="menu-right" class="menu align-right">
            <li id="menu-item-info" class="menu-item"><a href="#">Info</a></li>
            <li id="menu-item-usage" class="menu-item"><a href="#">Usage</a></li>
            <li id="menu-item-demos" class="menu-item"><a href="#">Demos</a></li>
            <li id="menu-item-faq" class="menu-item"><a href="#">FAQ</a></li>
            <li id="menu-item-eboard" class="menu-item"><a href="#">E-Board</a></li>
        </ul>
    </div>
</div>