<section id="usage">
    <div>&nbsp;</div>
    <div id="container-usage" class="grid-container">
        <div class="grid-x grid-columns-y">
            <div class="large-12 medium-12 cell ">
                <div class="grid-x grid-padding-x">
                    <div class="large-4 medium-6 small-6 cell">
                        <div class="primary callout min-height-300">
                            <p><span class="badge primary">1</span> <b>Get Your Paper Ballot:</b> Go to your polling place, check-in, and receive your paper ballot from the poll worker.</p>
                            <img class="align-bottom" src="assets/img/step01.png" />
                        </div>
                    </div>
                    <div class="large-4 medium-6 small-6 cell">
                        <div class="primary callout min-height-300">
                            <p><span class="badge primary">2</span> <b>Initiate the Voting Session:</b> Insert the paper ballot into the ballot feeder with the notch in and to the right.</p>
                            <img class="align-bottom" src="assets/img/step02.png" />
                        </div>
                    </div>
                    <div class="large-4 medium-6 small-6 cell">
                        <div class="primary callout min-height-300">
                            <p><span class="badge primary">3</span> <b>Make Selections:</b> Using the screen, touch the candidate of your choice or write-in a desired candidate.</p>
                            <img class="align-bottom" src="assets/img/step03.png" />
                        </div>
                    </div>
                    <div class="large-4 medium-6 small-6 cell">
                        <div class="primary callout min-height-300">
                            <p><span class="badge primary">4</span> <b>Print Your Ballot:</b> Touch PRINT and your selections will print out in the window on the right.</p>
                            <img class="align-bottom" src="assets/img/step04.png" />
                        </div>
                    </div>
                    <div class="large-4 medium-6 small-6 cell">
                        <div class="primary callout min-height-300">
                            <p><span class="badge primary">5</span> <b>Verify Your Vote:</b>In the window on the right, review and verify your selections.</p>
                            <img class="align-bottom" src="assets/img/step05.png" />
                        </div>
                    </div>
                    <div class="large-4 medium-6 small-6 cell">
                        <div class="primary callout min-height-300">
                            <p><span class="badge primary">6</span> <b>Cast Your Vote:</b>Press VOTE and your ballot is scanned, tabulated, and stored in the secure ballot container.</p>
                            <img class="align-bottom" src="assets/img/step06.png" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>