        <section id="usage">
            <div>&nbsp;</div>
            <div id="container-usage" class="grid-container">
                <div class="grid-x grid-padding-x small-up-2 medium-up-3">
                    <div class="cell">
                        <div class="card">
                            <div class="card-section">
                                <h5>1 - Get Your Paper Ballot</h5>
                            </div>
                            <div class="card-section"><img src="assets/img/step01.png" /></div>
                            <div class="card-section">
                                <p> Go to your polling place, check-in, and receive your paper ballot from the poll worker.</p>
                            </div>
                        </div>
                    </div>
                    <div class="cell">
                        <div class="card">
                            <div class="card-section">
                                <h5>2 - Initiate the Voting Session</h5>
                            </div>
                            <div class="card-section"><img src="assets/img/step02.png" /></div>
                            <div class="card-section">
                                <p> Insert the paper ballot into the ballot feeder with the notch in and to the right.</p>
                            </div>
                        </div>
                    </div>
                    <div class="cell">
                        <div class="card">
                            <div class="card-section">
                                <h5>3 - Make Selections</h5>
                            </div>
                            <div class="card-section"><img src="assets/img/step03.png" /></div>
                            <div class="card-section">
                                <p> Using the screen, touch the candidate of your choice or write-in a desired candidate.</p>
                            </div>
                        </div>
                    </div>
                    <div class="cell">
                        <div class="card">
                            <div class="card-section">
                                <h5>4 - Print Your Ballot</h5>
                            </div>
                            <div class="card-section"><img src="assets/img/step04.png" /></div>
                            <div class="card-section">
                                <p>Touch PRINT and your selections will print out in the window on the right.</p>
                            </div>
                        </div>
                    </div>
                    <div class="cell">
                        <div class="card">
                            <div class="card-section">
                                <h5>5 - Verify Your Vote</h5>
                            </div>
                            <div class="card-section"><img src="assets/img/step05.png" /></div>
                            <div class="card-section">
                                <p> In the window on the right, review and verify your selections.</p>
                            </div>
                        </div>
                    </div>
                    <div class="cell">
                        <div class="card">
                            <div class="card-section">
                                <h5>6 - Cast Your Vote</h5>
                            </div>
                            <div class="card-section"><img src="assets/img/step06.png" /></div>
                            <div class="card-section">
                                <p> Press VOTE and your ballot is scanned, tabulated, and stored in the secure ballot container.</p>
                            </div>
                        </div>
                    </div>
                </div>
        </section>